.chat-component {
	width: 60%;
	height: 70%;
	max-height: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.chat-component .message-bar {
	position: fixed;
	bottom: 0%;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: 40px;
}
.message-input {
	width: calc(80% - 75px);
	height: 40px;
	padding: 15px;
	font-size: 16px;
	box-sizing: border-box;
	border: 0;
	outline: 0;
	background: #eee;
	border-radius: 20px;
}
